.Admin-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(224, 220, 220, 1) 0%,
    rgba(31, 28, 28, 1) 100%
  );
}

.AdminPage-cont {
  width: 100%;
  max-width: 900px;
  background: #000000;
  padding: 2.5rem;
  
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  border: 3px solid rgb(87, 87, 87);
  box-shadow: 0px 0px 34px 15px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 34px 15px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 34px 15px rgba(0,0,0,0.75);
}
.hu{
     box-shadow: 0px 0px 34px 15px rgba(142,22,22,0.5);
-webkit-box-shadow: 0px 0px 34px 15px rgba(142,22,22,0.5);
-moz-box-shadow: 0px 0px 34px 15px rgba(142,22,22,0.5);
}
.admin-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.3rem;
  color: #831c1c;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
  padding-top: 1rem;

}

.admin-subtitle {
  text-align: center;
  color: #611717;
  margin-bottom: 2rem;
  font-weight: 600;
  padding: 1rem;
}

.admin-form {
  display: grid;
  gap: 1.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #831c1c;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1f1f1f;
  color: white;
  outline: none;
  
}

.form-group input:focus,
.form-group textarea:focus {
  border:2px solid #7b3434;
}

.submit-btn {
  margin-top: 1rem;
  padding: 0.9rem;
  background: #171616;
background: linear-gradient(90deg, rgba(23, 22, 22, 1) 0%, rgba(148, 1, 1, 1) 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
}

.submit-btn:hover {
  background: #493434;
}
.im{
    display: flex;
    justify-content: center;
    align-items: center;
}